flows.json
[{"id":"1e586260.9e11fe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ac3d3f6.08644","type":"ui_form","z":"1e586260.9e11fe","name":"","label":"","group":"7c1a3920.c08388","order":0,"width":0,"height":0,"options":[{"label":"Year\t","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality\t","value":"c","type":"number","required":true,"rows":null},{"label":"Infant Deaths\t","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol\t","value":"e","type":"number","required":true,"rows":null},{"label":"Precentage Expenditure\t","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B\t","value":"g","type":"number","required":true,"rows":null},{"label":"Measles\t","value":"h","type":"number","required":true,"rows":null},{"label":"BMI\t","value":"i","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths\t","value":"j","type":"number","required":true,"rows":null},{"label":"Polio\t","value":"k","type":"number","required":true,"rows":null},{"label":"Total Expenditure\t","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria\t","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS\t","value":"n","type":"number","required":true,"rows":null},{"label":"GDP\t","value":"o","type":"number","required":true,"rows":null},{"label":"Population\t","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years\t","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years\t","value":"r","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources\t","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling\t","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["8c378c16.3c7d5"]]},{"id":"8c378c16.3c7d5","type":"function","z":"1e586260.9e11fe","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n//following are required to receive a token\nvar apikey=\"2HI-AwOg2OUwqB4fC-LdT1jglKTj4pffd_Use-6kAQng\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["74267232.9a4b9c"]]},{"id":"88548d1d.b94eb","type":"http request","z":"1e586260.9e11fe","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/f5a2fe58-80fd-4e1c-b753-a4b1cc867b0e/deployments/53f453b0-dadb-4424-897c-3d6348443002/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["6b98f95d.409418","178e929c.1ccb8d"]]},{"id":"d2401fac.73f94","type":"debug","z":"1e586260.9e11fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"178e929c.1ccb8d","type":"function","z":"1e586260.9e11fe","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["d2401fac.73f94","386e8c96.aa1774"]]},{"id":"6b98f95d.409418","type":"debug","z":"1e586260.9e11fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"6b984f6.58e8bb","type":"function","z":"1e586260.9e11fe","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"f5a2fe58-80fd-4e1c-b753-a4b1cc867b0e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"Status\",\n\"Adult Mortality\",\n\"Infant Deaths\",\n\"Alcohol\",\n\"Percentage Expenditure\",\n\"Hepatitis B\",\n\"Measles\",\n\"BMI\",\n\"Under-Five Deaths\",\n\"Polio\",\n\"Total Expenditure\",\n\"Diphtheria\",\n\"HIV/AIDS\",\n\"GDP\",\n\"Population\",\n\"Thinness 1-19 years\",\n\"Thinness 5-9 years\",\n\"Income Composition of Resources\",\n\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["88548d1d.b94eb"]]},{"id":"74267232.9a4b9c","type":"http request","z":"1e586260.9e11fe","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["6b984f6.58e8bb"]]},{"id":"386e8c96.aa1774","type":"ui_text","z":"1e586260.9e11fe","group":"7c1a3920.c08388","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"7c1a3920.c08388","type":"ui_group","z":"","name":"Machine Learning Model","tab":"c1046dd.9848e9","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1046dd.9848e9","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]